body {
	padding: 0px;
	margin: 0px;
	margin-top: 0px;
	background-color:#ABABAB;
}
	
div {
	margin: 0px 0px 0px 0px;
	height: 40px;
	background-color: #5D0A87;
	
}
div h1 {
	margin: 0px;
	text-align: left;
	color:#FFFF00;
}
